MYSQL_ROOT_PASSWORD=rootp
MYSQL_DATABASE=wordpress_db_name
MYSQL_USER=user
MYSQL_PASSWORD=userp
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=user
WORDPRESS_DB_PASSWORD=userp
WORDPRESS_DB_NAME=wordpress_db_name